@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
}

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

body,
.hero {
    background-image: url(assets/pc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

button {
    background: linear-gradient(#161616, #000000);
    outline-style: double;
    margin-left: 15px !important;
}

button:hover {
    background: linear-gradient(black, #242424);
}

.link {
    color: white !important;
}

.logo {
    text-shadow: 1px 0px 11px white;
}

.navbar {
    background-color: black !important;
}

.navbar .navbar-brand {
    font-size: 24px;
}

.navbar .nav-link {
    color: #fff;
    font-size: 18px;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(assets/2.jpg);

}

.about,
.portfolio,
.contact {
    padding: 50px 0;
    background-position: center;
    background-size: cover;
}

.portfolio .card {
    background-color: black;
    border: 1px solid darkgray;
    box-shadow: 0px 10px 10px #ccc;
    color: #fff;
    margin-bottom: 30px;
}

.portfolio .card-header {
    background-color: #222;
    border-bottom: none;
}

.portfolio .card-body {
    padding: 0;
}

.portfolio .card-img-top {
    object-fit: cover;
    height: 200px;
}

.portfolio .card-title {
    margin-top: 10px;
    font-weight: bold;
}

.portfolio .card-text {
    margin-bottom: 10px;
}

.portfolio .pagination {
    justify-content: center;
}

.fa-github:hover,
.fa-linkedin-in:hover,
.fa-whatsapp:hover {
    transition: all 500ms;
    transform: scale(1.5, 1.5);
}

.floating-div .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(#161616, #000000);
    box-shadow: 0 0px 5px #eee;
    color: #fff;
    margin: 5px;
    font-size: 20px;
}

/*clases extras de funcion*/
.texto:hover {
    transform: scale(1.1);
    transition: all 500ms;
}

.welcome {
    transform: scale(1.2, 1.2);
}

.welcome.title {
    transform: scale(1.2, 1.2);
    color: #ffff;
    text-shadow: 1px 0px 1px black;
    font-weight: lighter;
}

.card:hover {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    transition: all 500ms;
    /* don't forget to set a duration! */
}

.github,
.linkedin {
    color: whitesmoke !important;
}

.github:hover,
.linkedin:hover {
    text-shadow: 10px 0px 10px white;
}

@media (min-width:320px) and (max-width:580px) {

    .github,
    .linkedin,
    .email,
    .number,
    strong {
        font-size: 12px !important;
    }

    .nav-link {
        margin-left: 10px !important;
    }

    .navbar-toggler {
        margin-right: 30px !important;
    }
}